*.phy filter=lfs diff=lfs merge=lfs -text
*.nex filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*_permissive.txt filter=lfs diff=lfs merge=lfs -text
*_strict.txt filter=lfs diff=lfs merge=lfs -text
*_swissprot.txt filter=lfs diff=lfs merge=lfs -text
*.dmnd filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
manuscript.RData filter=lfs diff=lfs merge=lfs -text
*.treefile filter=lfs diff=lfs merge=lfs -text
*.treelist filter=lfs diff=lfs merge=lfs -text
